MapsEngine.key=
GTFS.path=/your/path/to/Amtrak_transit_feed.zip
refreshInterval.vehicles=60

tripUpdates.url=http://localhost:9000/tripUpdates
vehiclePositions.url=http://localhost:9000/vehiclePositions
